export CLOUDSDK_ACTIVE_CONFIG_NAME=pubtex--poc-prd
export GOOGLE_USER=hotoku@g.sys.pubtex.com
export PROJECT_ID=pubtex-ai-poc-prd-mlops


if ! gcloud config configurations list | awk '{print $1}' | grep -E ^${CLOUDSDK_ACTIVE_CONFIG_NAME}$; then
    echo creating ${CLOUDSDK_ACTIVE_CONFIG_NAME}
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
else
    echo configuration ${CLOUDSDK_ACTIVE_CONFIG_NAME} exists
fi
gcloud config set project ${PROJECT_ID}
gcloud config set account ${GOOGLE_USER}
